/* Basic styles - Customize according to your design */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}

a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.slide {
    width: 300px;
    margin: 20px;
}

.slide img {
    width: 100%;
    height: auto;
}

/* Add more CSS styles for different sections and elements as needed */
